/*.signup-form_container li{
    width:49% !important;
}

.signup-form_container .slds-tabs_default__overflow-button{
    display:none !important;
}*/

#kdp-hero .bgImage {
  background-image: url('/sfsites/c/file-asset/heromobile2xpng') !important;
}

@media (min-width: 768px) {
  #kdp-hero .bgImage {
    background-image: url('/sfsites/c/file-asset/HEROIMAGE2xpng') !important;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.detailsData:empty:before {
  content: '';
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 4px solid #900D2C;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.slds-form-element__control[c-kdpUserProfile_kdpUserProfile] > a[title="Change Password"][c-kdpUserProfile_kdpUserProfile] {
  font-size: 0.8rem !important;
}

.button-wrapper[c-kdpUserProfile_kdpUserProfile] {
  margin-top: 40px;
}

/*************************************** Custom styles for Berries and Cream ******************************************/
.contentBlockSection[style*="https://stg-my.drpepper.com/cms/delivery/media/MCWS2B2GLERBFOXMJ7Z2NH2I4S5E"] h2 {
  max-width: 500px
}

body.comm-page-custom-test2 .kdp-hero-bg {
  background: url(https://stg-my.drpepper.com/cms/delivery/media/MCWS2B2GLERBFOXMJ7Z2NH2I4S5E), rgb(220, 30, 165) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

body.comm-page-custom-test2 .btn-join {
  transition: 0.2s all ease-in-out;
}

body.comm-page-custom-test2 .btn-join:hover {
  filter: saturate(70%);
}

@media (max-width: 768px) {
  body.comm-page-custom-cherry-and-cream .contentBranding_row[c-kdpHeroBase_kdpHeroBase] img[c-kdpHeroBase_kdpHeroBase] {
    height: 25vh !important;
  }
}

body.comm-page-custom-cherry-and-cream .imgScroll:hover {
  cursor: pointer;
}

/***************************************** Custom styles for Dark Berry *********************************************/
body.comm-page-custom-barrysdeservedarkberry #body-content,
body.comm-page-custom-thank-you-berry-much #body-content,
body.comm-page-custom-sold-out-berry #body-content {
  background-color: #2b338c;
}

body.comm-page-custom-thank-you-berry-much #body-content {
  background-color: #2b338c;
  display: flex;
  align-items: center;
}


body.comm-page-custom-barrysdeservedarkberry .kdp-hero-bg {
  background: url(https://stg-my.drpepper.com/cms/delivery/media/MC7FYPTCDDOZE3HKLUBAJK7T3XNI), #2b338c !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

body.comm-page-custom-barrysdeservedarkberry .content[c-kdpHeroBase_kdpHeroBase] {
  padding-bottom: 40%;
}

body.comm-page-custom-barrysdeservedarkberry h3.contentCaption.slds-var-m-top_medium[c-kdpherobase_kdpherobase] {
  font-size: 25px !important;
  line-height: 1 !important;
}

body.comm-page-custom-barrysdeservedarkberry h1.slds-var-m-top_medium {
  margin-top: 10px !important;
  margin-bottom: 25px !important;
  margin-left: -3px !important;
  font-size: 61px !important;
  font-family: aktiv-grotesk-extended, sans-serif !important;
  font-weight: 900 !important;
  font-style: normal !important;
}

body.comm-page-custom-barrysdeservedarkberry .g-recaptcha > div,
body.comm-page-custom-hailmary .g-recaptcha > div {
  margin: auto;
}

@media (min-width: 768px) {
  body.comm-page-custom-barrysdeservedarkberry .kdp-hero-bg {
    background: url(https://stg-my.drpepper.com/cms/delivery/media/MC23NRIG3JGRDVBPCASNN2ESPU4A), #2b338c !important;
    background-position: bottom center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  body.comm-page-custom-barrysdeservedarkberry .content[c-kdpHeroBase_kdpHeroBase] {
    padding-bottom: 20%;
  }

  body.comm-page-custom-barrysdeservedarkberry h3.contentCaption.slds-var-m-top_medium[c-kdpherobase_kdpherobase] {
    font-size: 38.5px !important;
  }

  body.comm-page-custom-barrysdeservedarkberry h3.contentCaption.slds-var-m-top_medium[c-kdpherobase_kdpherobase] {
    font-size: 38.5px !important;
  }

  body.comm-page-custom-barrysdeservedarkberry h1.slds-var-m-top_medium {
    margin-top: 10px !important;
    margin-bottom: 25px !important;
    margin-left: -5px !important;
    font-size: 94px !important;
  }

  body.comm-page-custom-barrysdeservedarkberry p.slds-var-m-top_small.regular-text {
    max-width: 470px;
  }
}

body.comm-page-custom-barrysdeservedarkberry form {
  width: 100%;
}

body.comm-page-custom-barrysdeservedarkberry form input:not(.kdp-button), body.comm-page-custom-barrysdeservedarkberry form textarea {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  min-height: 3rem;
}

body.comm-page-custom-barrysdeservedarkberry form select {
  margin-bottom: 1rem;
  min-height: 3rem;
}


/************************************** Custom styles for Jurassic World Homepage *************************************/
/*body.comm-page-home .kdp-hero-bg {
    background: url(https://stg-my.drpepper.com/cms/delivery/media/MCM77KT34NDNBS7JZ2ATEU7H36W4), #2b338c !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top right !important;
}

body.comm-page-home a.kdp-button.button-secondary.primary-cta.slds-truncate[c-kdpherobase_kdpherobase] {
    color: #2b338c !important;
}

@media (max-width: 768px) {
    body.comm-page-home .kdp-hero-bg {
        background: url(https://stg-my.drpepper.com/cms/delivery/media/MCPYL4GPGBQZENPP636O5C5TLKYY), #2b338c !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: top right !important;
    }

    body.comm-page-home .contentBranding_row[c-kdpHeroBase_kdpHeroBase] img[c-kdpHeroBase_kdpHeroBase] {
        height: auto !important;
        width: 100% !important;
    }
}*/

/************************************** Custom styles for Football Campaign Homepage & Rewards *************************************/
/*body.comm-page-home .kdp-hero-bg {
  background: url(https://stg-my.drpepper.com/cms/delivery/media/MCXO5IG4YWXFB3VC6CRV2QIV3WVI), #a51d31 !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top left !important;
}/*

body.comm-page-home a.kdp-button.button-secondary.primary-cta.slds-truncate[c-kdpherobase_kdpherobase] {
  color: #900d2c !important;
}

/*@media (max-width: 579px) {
  body.comm-page-home .kdp-hero-bg {
    background-size: contain !important;
    background: url(https://stg-my.drpepper.com/cms/delivery/media/MCUZU7MG2I3VGORMKWDM3Y4LIAFY), #a51d31 !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: top center !important;
  }

  body.comm-page-custom-rewards .contentBranding_column[c-kdpherobase_kdpherobase] img[c-kdpherobase_kdpherobase] {
    height: auto !important;
    width: 100% !important;
    visibility: hidden;
  }

  body.comm-page-custom-rewards .kdp-hero-bg {
    background-size: contain !important;
  }
}*/

/*@media (min-width: 580px) and (max-width: 768px) {
  body.comm-page-home .kdp-hero-bg {
    background: url(https://stg-my.drpepper.com/cms/delivery/media/MCUZU7MG2I3VGORMKWDM3Y4LIAFY), #a51d31 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top center !important;
  }

  body.comm-page-home .contentBranding_row[c-kdpHeroBase_kdpHeroBase] img[c-kdpHeroBase_kdpHeroBase] {
    height: auto !important;
    width: 100% !important;
  }
}*/

/************************************* Custom styles for Rewards Jurassic World ****************************************/

body.comm-page-custom-rewards-jurassic-world .kdp-hero-bg {
  background: url(https://stg-my.drpepper.com/cms/delivery/media/MCJ2BVKAXCQRH3LCOEUMVV3SCAF4), rgb(144, 13, 44) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top right !important;
}

body.comm-page-custom-rewards-jurassic-world .contentBranding_row[c-kdpherobase_kdpherobase] img[c-kdpherobase_kdpherobase] {
  height: auto !important;
  width: 432px !important;
}

@media (min-width: 768px) {
  body.comm-page-custom-rewards-jurassic-world .contentBranding_row[c-kdpHeroBase_kdpHeroBase] {
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  body.comm-page-custom-rewards-jurassic-world .kdp-hero-bg {
    background: url(https://stg-my.drpepper.com/cms/delivery/media/MCH4SDSO5BSZAIJLFKRXTHSNVXSU), rgb(144, 13, 44) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top center !important;
  }

  body.comm-page-custom-rewards-jurassic-world .kdp-hero .container[c-kdpHeroBase_kdpHeroBase] {
    padding-top: 20vh;
  }

  body.comm-page-custom-rewards-jurassic-world h3.contentCaption.slds-var-m-top_medium[c-kdpherobase_kdpherobase] {
    line-height: 1 !important;
  }

  body.comm-page-custom-rewards-jurassic-world .contentBranding_row[c-kdpHeroBase_kdpHeroBase] img[c-kdpHeroBase_kdpHeroBase] {
    height: auto !important;
    width: 70% !important;
  }
}

.comm-page-custom-test-page video.video-wrapper[c-kdpHeroBase_kdpHeroBase] {
  max-height: 46.66vw;
  position: initial !important;
  transform: none !important;
}

.comm-page-custom-fansville-foam-finger-warehouse video.video-wrapper[c-kdpHeroBase_kdpHeroBase] {
  max-height: 56.26vw;
  position: initial !important;
  transform: none !important;
}

.comm-page-custom-fansville-foam-finger-warehouse .container p.regular-text {
  padding-top: 20px;
}

.comm-page-custom-fansville-foam-finger-warehouse .container h2 {
  padding-top: 4rem;
}

.comm-page-custom-fansville-foam-finger-warehouse .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase] {
  display: none;
}

.comm-page-custom-fansville-foam-finger-warehouse select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(https://stg-www.drpepper.com/cms/delivery/media/MCR42AKGJUWZGEDAQNDNBZQJSYZM);
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) 50%;
}

@media (max-width: 767px) {
  .comm-page-custom-fansville-foam-finger-warehouse form#foam-finger-form {
    width: 100% !important;
  }

  .comm-page-custom-fansville-foam-finger-warehouse form#foam-finger-form .submit-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.comm-page-custom-fansville-foam-finger-warehouse .video-wrapper {
  background: url(https://stg-www.drpepper.com/cms/delivery/media/MCXYE5HTIWVNHONGVZIYNQ6PCI7E) no-repeat cover;
}

.comm-page-custom-fansville-foam-finger-warehouse #body-content {
  background: url(https://stg-www.drpepper.com/cms/delivery/media/MC3JFLHH7PA5AXNJ2ULKP3N5BDWA), rgb(144, 13, 44);
  background-size: contain;
}

@media (max-width: 1023px) {
  .comm-page-custom-fansville-foam-finger-warehouse .video-wrapper {
    display: none;
  }
}

.comm-page-custom-okay .contentBranding_column {
  display: block !important;
}

@media (max-width: 767px) {
  .comm-page-custom-okay .content[c-kdpHeroBase_kdpHeroBase] .contentBranding_column p.intro-text[c-kdpHeroBase_kdpHeroBase] {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  .comm-page-custom-okay .contentBranding_column small {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  .comm-page-home .kdp-button-group[c-kdpHeroBase_kdpHeroBase] {
    flex-direction: column;
    align-items: flex-start;
  }

  .comm-page-home .kdp-button-group[c-kdpHeroBase_kdpHeroBase] .secondary-cta {
    margin: 20px 0 0 2.5rem;
  }

  .comm-page-home .kdp-button-group[c-kdpHeroBase_kdpHeroBase] .kdp-button.primary-cta[c-kdpHeroBase_kdpHeroBase] {
    max-width: unset;
  }

  .comm-page-custom-tuition .legal-copy {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  #tuition-form-wrapper form {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .comm-page-custom-okay .contentBranding_column small {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .comm-page-custom-bad .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase], .comm-page-custom-okay .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase] {
    height: calc(100vh - 8rem);
  }

  #tuition-form-wrapper form {
    width: 45%;
  }

  .comm-page-custom-tuition .legal-copy {
    font-size: 15px !important;
    line-height: 20px !important;
  }

  .comm-page-custom-tuition-completed .regular-text {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .comm-page-custom-tuition-completed .contentBranding_column {
    display: block !important;
    flex-direction: column;
  }

  .comm-page-custom-tuition-completed form {
    width: 45%;
  }
}

.comm-page-custom-tuition-form .container {
  display: none;
}

.comm-page-custom-okay .container {
  display: none;
}

.comm-page-custom-bad .contentBranding_column {
  display: block !important;
}

.comm-page-custom-bad .contentBranding_column h1 {
  text-transform: none;
}

.comm-page-custom-bad .contentBranding_column .regular-text {
  padding-top: 20px;
}

.comm-page-custom-okay .kdp-button-group {
  display: none;
}

.comm-page-custom-bad .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase], .comm-page-custom-okay .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase] {
  min-height: fit-content;
}

.comm-page-custom-bad .container {
  display: none;
}

.comm-page-custom-tuition-completed .container {
  display: none;
}


/**** HAIL MARY STYLING BEGINS ****/

.comm-page-custom-completed .contentBranding_column, .comm-page-custom-hail-mary-contest-over .contentBranding_column {
  display: block !important;
}

.comm-page-custom-hailmary .container, .comm-page-custom-completed .container, .comm-page-custom-hail-mary-contest-over .container {
  display: none;
}

body.comm-page-custom-hailmary .kdp-hero-bg {
  background-position: center center !important;
}

/*********************** Tuition Finalists ********************************/

.tl_content-finalists .slds-gutters.tl_content-block {
  display: flex;
}

.c-f {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 560px;
}

@media (min-width: 1024px) {
  .c-f {
    margin-left: 55px;
  }
}

@media (min-width: 1440px) {
  .c-f {
    margin-left: 115px;
  }
}

.ipx {
  position: relative;
  z-index: 1;
  height: 694px;
  width: 342px;
  margin: auto;
}

.ipx *, .ipx *::before, .ipx *::after {
  box-sizing: border-box;
  display: block;
}

.ipx > div:nth-child(1) {
  background: #1c1c1c;
  border-radius: 48px;
  box-shadow: inset 0 0 2px 2px #000000, inset 0 0 0 6px #000000, 0 -1px 13px 9px #000000 inset;
  height: 684px;
  padding: 15px;
  width: 342px;
  z-index: 1;
}

.ipx > div:nth-child(1) > div {
  background: #000;
  background-position: center center;
  background-size: cover;
  border-radius: 33px;
  position: relative;
  height: 100%;
  width: auto;
  z-index: 198;
  overflow: hidden;
}

.ipx iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.ipx > div:nth-child(2) {
  background: #1c1c1c;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 24px;
  left: 50%;
  margin-left: -82px;
  position: absolute;
  top: 15px;
  width: 164px;
  z-index: 199;
}

.ipx > div:nth-child(2) > div::after, .ipx > div:nth-child(2) > div::before {
  content: "";
  position: absolute;
}

.ipx > div:nth-child(2) > div::before {
  background: #333;
  border-radius: 2.5px;
  height: 5px;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  top: 7px;
}

.ipx > div:nth-child(3) {
  background: #000000;
  height: 26px;
  left: -2px;
  position: absolute;
  top: 92px;
  width: 3px;
}

.ipx > div:nth-child(3)::after, .ipx > div:nth-child(3)::before {
  content: "";
  position: absolute;
  background: #000000;
  height: 50px;
  left: 0;
  width: 3px;
}

.ipx > div:nth-child(3)::after {
  top: 48px;
}

.ipx > div:nth-child(3)::before {
  top: 112px;
}

.ipx > div:nth-child(4) {
  background: #000000;
  height: 80px;
  right: -2px;
  position: absolute;
  top: 160px;
  width: 3px;
}

.ipx > img {
  position: absolute;
  bottom: -5%;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
  width: 80% !important;
}

/*********************** Tuition Finalists ********************************/

body.comm-page-custom-hailmary .wrapper.slds-var-p-bottom_large {
  color: white;
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 875px;
}

body.comm-page-custom-hailmary p {
  font-size: 16px !important;
  line-height: 26px !important;
}

body.comm-page-custom-hailmary p b {
  font-size: 18px !important;
}

body.comm-page-custom-hailmary .disclaimer {
  font-size: 12px !important;
}

body.comm-page-custom-hailmary form {
  width: 100%;
}

body.comm-page-custom-hailmary form input[type='text'],
body.comm-page-custom-hailmary form textarea[type='text'] {
  width: 100%;
  min-height: 50px;
  display: block;
  margin-top: 0.2em;
  margin-bottom: 1em;
  color: #010000;
  padding: 0 10px;
}

body.comm-page-custom-hailmary form select {
  width: 100%;
  min-height: 50px;
  display: block;
  color: #010000;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

body.comm-page-custom-hailmary form select option {
  padding: 10px;
}

body.comm-page-custom-hailmary h2 {
  font-size: 26px !important;
  line-height: 1.1 !important;
}

body.comm-page-custom-hailmary h3 {
  font-size: 18px !important;
  line-height: 1.1 !important;
  font-weight: 800 !important;
}

body.comm-page-custom-hailmary ul {
  padding-left: 0;
}

body.comm-page-custom-hailmary ul li {
  padding-left: 0.7em;
}

body.comm-page-custom-hailmary ul li span {
  position: relative;
  left: 0.5em;
}

@media (max-width: 767px) {
  .comm-page-custom-hailmary .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase] {
    height: 120vw;
    min-height: auto;
  }

  .comm-page-custom-completed .contentBranding_column[c-kdpherobase_kdpherobase] img[c-kdpherobase_kdpherobase],
  .comm-page-custom-hail-mary-contest-over .contentBranding_column[c-kdpHeroBase_kdpHeroBase] img[c-kdpHeroBase_kdpHeroBase] {
    height: auto !important;
    width: 100% !important;
  }

  body.comm-page-custom-hailmary .image-text {
    display: flex !important;
    align-items: start !important;
    flex-direction: column !important;
  }

  body.comm-page-custom-hailmary .image-text img {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
  }

  body.comm-page-custom-hailmary .image-text > div {
    padding-left: 0 !important;
  }

  body.comm-page-custom-hailmary h2 {
    font-size: 26px;
    line-height: 1.1 !important;
    text-align: left !important;
  }

  body.comm-page-custom-hailmary h3 {
    font-size: 20px;
    line-height: 1.1 !important;
    text-align: left !important;
  }
}

@media (min-width: 768px) {
  .comm-page-custom-hailmary .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase] {
    height: 56vw;
    min-height: auto;
  }
}

/**** HAIL MARY STYLING ENDS ****/


/*************************************** START - Custom styles for Fansville Reserve ******************************************/

@media (max-width: 767px) {
  body.comm-page-home .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase], body.comm-page-custom-rewards .kdp-hero[c-kdpHeroBase_kdpHeroBase] > .container[c-kdpHeroBase_kdpHeroBase] {
    align-items: end;
    padding-bottom: 2rem;
  }

  body.comm-page-home .kdp-hero-bg[c-kdpHeroBase_kdpHeroBase] {
    background-color: black !important;
    /*background-size: contain !important;*/
  }

  /*body.comm-page-custom-rewards .kdp-hero-bg[c-kdpHeroBase_kdpHeroBase] {
      background-size: contain !important;
 }*/
}

/*************************************** END - Custom styles for Fansville Reserve ******************************************/